* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body,
#root {
  height: 100%;
}

.unactive {
  opacity: .3;
}

.container {
  margin-inline: 20px;
}

img {
  width: 100%;
}

input[type='text'] {
  padding: 20px;
  border-radius: 12px;
  border: 1px solid grey;
}
input[type='password'] {
  padding: 20px;
  border-radius: 12px;
  border: 1px solid grey;
}
input[type='email'] {
  padding: 20px;
  border-radius: 12px;
  border: 1px solid grey;
}

button {
  border-radius: 12px;
  padding: 20px;
  border: 1px solid grey;
}

select {
  padding: 20px;
  border-radius: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  border: 1px solid grey;
}

select::-ms-expand {
  display: none;
}